h3 {
  font-weight: lighter;
  font-size: 18px;
  color: rgb(88, 85, 85);
  white-space: pre-wrap
}

li {
  padding-bottom: 5%;
  font-size: 13px;
  color: rgb(88, 85, 85);
  font-weight: normal;
}

.body-title {
  color: #000
}

.body-article {
  text-align: left;
  padding-left: 5%;
}

.body-sub_text {
  font-size: 32px;
  font-weight: 'bold';
}

.article-list {
  list-style-type: none;
  padding-left: 6%;
}

.article-button-group {
  position: relative;
  width: 100%;
  color: white;
  padding-bottom: 25px;
}

@media screen and (min-width: 652px) {
  .body-article {
    text-align: left;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}