.item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 4%;
}

.text {
  text-align: left;
  margin-top: 6%;
}

.sub-text {
  font-size: 15px;
  color: rgba(26, 22, 22, 0.6);
  margin-left: 5px;
}

b {
  margin-left: 5px;
}

@media screen and (min-width: 652px) {
  .item {
    display: flex;
    align-items: center;
  }
  
  .text {
    text-align: center;
    margin-top: 6%;
  }

  .image {
    width: 52px;
  }
}