.nav {
  position: relative;
  top: 0;
  background: black;
  left: 0;
  z-index: 1;
  overflow: hidden
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .wrapper {
  padding-top: 60px;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.flex-nav {
   display: flex;
  justify-content: space-between;
}

.logo {
  color: red;
  margin-top: 3%;
  padding-left: 5%
}