.App {
  text-align: center;
}

.hero {
  background: black;
  position: relative;
  width: 100%;
  color: white
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  padding: 0 5% 0 5%;
}

.content {
  padding-top: 40px;
  padding-bottom: 80px;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.testimonial {
  padding-top: 40px;
  padding-bottom: 80px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.hero-header {
  color: #fff;
  font-size: 35px;
  margin: 0;
}

.body-title {
  color: #000
}

.body-article {
  text-align: left;
  padding-left: 5%;
}

.body-sub_text {
  font-size: 32px;
  font-weight: 'bold';
}

.last-article {
  text-align: center;
}

.item {
  margin-bottom: 40px;
  align-self: flex-start;
}

.items {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 10px;
  margin-top: 50px
} 

.body {
  margin-top: 50px;
}

.bottom-container {
  background: black;
  width: 100%;
}

.header-image {
  background-image: url("https://images.unsplash.com/photo-1587052631985-d91df5274312?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

.card {
  background: orange;
  margin-top: 10%;
  border-radius: 15px;
  padding-top: 10px;
  padding-bottom: 40px;
  text-align: center;
  width: 100%;
}

p {
  color: rgba(255,255,255,0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5em;
  text-align: center
}

h2 {
  margin: 0
}

.footer {
  margin-top: 50px;
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
}

.footer-item {
  width: 50%;
  text-align: center
}

.card-text {
  max-width: 500px;
}

.article-button button:nth-child(2) {
  margin-top: 20px;
}

@media screen and (min-width: 652px) {
  .parent {
    display: flex;
    margin-top: 15%;
  }

  .row-reversed {
    flex-direction: row-reverse;
  }

  .content {
    max-width: 650px;
  }

  .items {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  
  .item {
    text-align: center
  }

  .article-container {
    width: 50%;
    margin-left: 80px;
    padding: 0;
  }

  .header-image {
    background-image: url("https://images.unsplash.com/photo-1587052631985-d91df5274312?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
  }

  .hero-header {
    color: #fff;
    font-size: 70px;
    margin: 0;
  }

  p {
    color: rgba(255,255,255,0.6);
    font-size: 28px;
    font-weight: 400;
    line-height: 1.5em;
    text-align: center
  }

  .body {
    width: 50%;
    margin: 0
  }

  .article-button {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .article-button button:nth-child(1) {
    margin-right: 20px;
  }

  .article-button button:nth-child(2) {
    margin-top: 0
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .footer-item {
    width: 25%;
    font-size: 14px;
    color: red
  }

  .card {
    text-align: left;
    padding: 50px
  }

  .footer-logo {
    text-align: left;
  }

  .bottom-container {
    background: black;
    width: 100%;
  }

  .footer-menu {
    width: 70%;
  }

  .footer-menu-title {
    color: #fff
  }

  .footer-date {
    text-align: left
  }
}
